<%- include("partials/header"); -%>

    <nav class="navbar navbar-expand-lg navbar-light bg-transparent">
        <ul class="navbar-nav">
            <li class="nav-item">
                <label class="btn btn-primary btn-file">
                        Add Handwritten Notes <input type="file" style="display: none;">
                    </label>
            </li>

            <li class="nav-item">
                <label class="btn btn-primary btn-file">
                        Add Illustration <input type="file" style="display: none;">
                    </label>
            </li>

            <li class="nav-item">
                <form class="" method="POST" action="/update/<%= id %>">
                    <textarea name="noteBody" id="noteBody" style="display: none;"></textarea>
                    <input id="submitNote" class="border-0 text-white btn bg-dark btn-file" type="submit" value="Save">
                </form>
            </li>
        </ul>
    </nav>

    <!-- Text Editor -->
    <div class="text-editor">
        <div id="editor">
            <%- body %>
        </div>

        <div class="card-grid">
            <div class="card">
                <img class="card-img-top" src="/images/test.jpg" alt="Card image cap">
            </div>
        </div>

    </div>

    <!-- Initialize Quill Text Editor -->
    <script>
        const toolbarOptions = [

            [{
                'font': []
            }],

            [{
                'size': ['small', false, 'large', 'huge']
            }], // custom dropdown

            ['bold', 'italic', 'underline', 'strike'], // toggled buttons

            [{
                'color': []
            }, {
                'background': []
            }], // dropdown with defaults from theme

            [{
                'script': 'sub'
            }, {
                'script': 'super'
            }], // superscript/subscript

            [{
                'header': 1
            }, {
                'header': 2
            }], // custom button values

            ['blockquote', 'code-block'],

            [{
                'list': 'ordered'
            }, {
                'list': 'bullet'
            }],
            [{
                'indent': '-1'
            }, {
                'indent': '+1'
            }], // outdent/indent
            [{
                'direction': 'rtl'
            }], // text direction

            [{
                'align': []
            }],

            ['clean'] // remove formatting button
        ];

        const editor = new Quill('#editor', {
            modules: {
                toolbar: toolbarOptions
            },
            placeholder: 'Start brainstorming....',
            theme: 'snow'
        });

        // Tracking Changes
        // editor.on('text-change', async function(delta, oldDelta, source) {
        //    let text = editor.getText();
        //    updateText(1, text);
        //});

        document.getElementById("submitNote").addEventListener('click', function() {
            const text = editor.root.innerHTML;
            let body = document.getElementById('noteBody');
            body.value = text;
            console.log(body.value);
        });
    </script>

    <%- include("partials/footer"); -%>