@font-face {
    font-family: 'VCR_OSD_MONO';
    src: url('/css/VCR_OSD_MONO_1.001.ttf');
    font-weight: normal;
    font-style: normal;
}

html,
body {
    margin: 0 auto;
    height: 100%;
}

.navbar-brand img {
    margin-right: 8px;
}

.navbar-brand span {
    font-family: 'VCR_OSD_MONO';
    font-size: 2.2rem;
    margin-right: 2px;
}

.clear-header {
    min-height: 85px;
}

.card {
    border-radius: 10px;
}

.deck {
    min-height: 100%;
    display: flex;
    flex-wrap: wrap;
}

.deck .card {
    max-width: 16rem;
    height: 15rem;
    margin: 6px;
}

.deck a {
    text-decoration: none;
    color: inherit;
}

.min-h-100 {
    min-height: 100%;
}

.ql-font-roboto {
    font-family: 'Roboto', sans-serif;
}

.text-editor .card-grid {
    width: 20%;
    float: right;
}

#noteTitle {
    border: 0;
    outline: 0;
    border-bottom: solid black 1px;
    height: 32px;
    margin-left: 10px;
    margin-right: 5px;
}

#editor {
    height: 100%;
    width: 80%;
    float: left;
    overflow: hidden;
    position: fixed;
    padding-bottom: 2rem;
}

.nav-item .btn-file {
    margin-left: 8px;
    border-radius: 5px;
}

.nav-item .btn-primary {
    border-radius: 8px;
}

.width-18 {
    width: 20rem;
}

.custom {
    margin-left: 8px;
}

#inputPath {
    margin-left: 8px;
    width: 250px;
    background: transparent;
}

i {
    margin-right: 3px;
}

.card-link:hover {
    transition: 0.6s;
    color: rgb(184, 57, 57);
    font-weight: 500;
}

#delete {
    float: right;
}

.modal-box {
    display: none;
    position: absolute;
    z-index: 1000;
    width: 98%;
    background: white;
    border-bottom: 1px solid #aaa;
    border-radius: 4px;
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-clip: padding-box;
}

.modal-box header,
.modal-box .modal-header {
    padding: 1.25em 1.5em;
    border-bottom: 1px solid #ddd;
}

.modal-box header h3,
.modal-box header h4,
.modal-box .modal-header h3,
.modal-box .modal-header h4 {
    margin: 0;
}

#popup {
    background-color: bisque;
    height: 60%;
}

.actions {
    display: inline-flex;
    float: right;
}

.actions form {
    display: inline-flex;
    margin-right: 10px;
}

.actions form {
    padding: 5px;
}