html,
body {
    margin: 0 auto;
    height: 100%;
}

.clear-header {
    min-height: 50px;
}

.card {
    border-radius: 10px;
}

.deck {
    min-height: 100%;
    display: flex;
    flex-wrap: wrap;
}

.deck .card {
    max-width: 16rem;
    height: 15rem;
    margin: 6px;
}

.min-h-100 {
    min-height: 100%;
}

.ql-font-roboto {
    font-family: 'Roboto', sans-serif;
}

.text-editor .card-grid {
    width: 20%;
    float: right;
}

#noteTitle {
    border: 0;
    outline: 0;
    border-bottom: solid black 1px;
    height: 32px;
    margin-left: 10px;
    margin-right: 5px;
}

#editor {
    height: 100%;
    width: 80%;
    float: left;
    overflow: hidden;
    position: fixed;
    padding-bottom: 2rem;
}

.nav-item .btn-file {
    margin-left: 8px;
    border-radius: 5px;
}

.nav-item .btn-primary {
    border-radius: 8px;
}

.width-18 {
    width: 20rem;
}

.custom {
    margin-left: 8px;
}

#inputPath {
    margin-left: 8px;
    width: 250px;
    background: transparent;
}